<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521036740132-mprn6n3v1qsbvr8p73tcbt62v33hpuur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521036740132-mprn6n3v1qsbvr8p73tcbt62v33hpuur</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>521036740132-g4fcor3rp271m9klno77g6422hngn15e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJWXMfHscqiw63yKNKxgiaUlNHyjk3CeI</string>
	<key>GCM_SENDER_ID</key>
	<string>521036740132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vht.tchat.com</string>
	<key>PROJECT_ID</key>
	<string>tchat-526d5</string>
	<key>STORAGE_BUCKET</key>
	<string>tchat-526d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521036740132:ios:d90a0057629da5750f0ab1</string>
	<key>DATABASE_URL</key>
	<string>https://tchat-526d5.firebaseio.com</string>
</dict>
</plist>